<form class="submit-match-form" name="submit-match" (ngSubmit)="onSubmit()" #matchForm="ngForm">
    <h3>Submit A Match</h3>
    <div class="submit-match-form__form-group">
        <label for="winner">
            Name of Winner:
        </label>
        <div class="custom-select">
            <select id="winner" required [(ngModel)]="winner" name="winner">
                <option *ngFor="let p of players | async" [ngValue]="p">{{p.name}}</option>
            </select>
        </div>
    </div>
    <div class="submit-match-form__form-group">
        <label for="loser">
            Name of Loser:
        </label>
        <div class="custom-select">
            <select id="loser" required [(ngModel)]="loser" name="loser">
                <option *ngFor="let p of players | async" [ngValue]="p">{{p.name}}</option>
            </select>
        </div>
    </div>
    <button type="submit" [disabled]="!matchForm.form.valid">Submit</button>
</form>