.player-list {
    list-style: none;
    padding: 0;
    text-align: center;
    width: 100%;

    &__player {
        background: #ffffff;
        border: 1px solid #43b02b;
        border-radius: 3px;
        display: inline-block;
        margin-bottom: 20px;
        max-width: 800px;
        list-style: none;
        padding: 20px;
        text-align: left;
        width: 100%;
    }
}

.player-details {
    &__image-wrap {
        display: inline-block;
        height: 100px;
        margin-right: 20px;
        vertical-align: middle;
        width: 100px;
    }

    &__image {
        display: block;
        height: 100%;
        object-fit: cover;
        object-position: center;
        width: 100%;
    }

    &__name {
        display: inline-block;
        vertical-align: top;
        width: calc(50% - 40px - 0.4em);
    }

    &__wins, &__losses {
        display: inline-block;
        vertical-align: top;
        width: calc(25% - 40px - 0.4em);
    }
}