<ul class="unconfirmed-match-list">
    <li *ngFor="let match of unconfirmedMatches | async; let i = index;" class="unconfirmed-match-list__match">
        <div class="unconfirmed-match-list__match-details">
            <span class="unconfirmed-match-list__winner-name">Winner: {{ match.winnerName }}</span>
            <span class="unconfirmed-match-list__loser-name">Loser: {{ match.loserName }}</span>
            <span class="unconfirmed-match-list__date">Date: {{ match.date }}</span>
        </div>
        <div class="unconfirmed-match-list__button-row">
            <button class="unconfirmed-match-list__confirm" (click)="confirmMatch(match)">
                Confirm
            </button>
            <button class="unconfirmed-match-list__deny" (click)="denyMatch(match)">
                Deny
            </button>
        </div>
    </li>
</ul>
