<section class="invite-to-league">
    <h2>Invite Players to Your League</h2>
    <ul class="invite-to-league__player-list">
        <li class="invite-to-league__player" *ngFor="let player of (players | async | notInLeague: leagueId)">
            <a (click)="invitePlayer(player)">
                <span class="invite-to-league__image-wrap">
                    <img class="invite-to-league__image" [src]="player.image" alt="Player Image">
                </span>
                <span class="invite-to-league__name">{{player.name}}</span>
                <span class="invite-to-league__email">{{player.email}}</span>
            </a>
        </li>
    </ul>
</section>