.invite-to-league {
    text-align: center;
    width: 100%;

    &__player-list {
        display: inline-block;
        list-style: none;
        max-width: 800px;
        padding: 0;
        text-align: center;
        width: 100%;
    }

    &__player {
        background: #ffffff;
        border: 1px solid #43b02b;
        border-radius: 3px;
        display: inline-block;
        margin-bottom: 20px;
        list-style: none;
        text-align: left;
        width: 100%;

        &:hover {
            cursor: pointer;
        }

        a {
            display: block;
            padding: 20px;
        }
    }

    &__image-wrap {
        display: inline-block;
        height: 100px;
        margin-right: 20px;
        vertical-align: middle;
        width: 100px;
    }

    &__image {
        display: block;
        height: 100%;
        object-fit: cover;
        object-position: center;
        width: 100%;
    }

    &__name, &__email {
        display: inline-block;
        vertical-align: top;
        width: calc(50% - 60px - 0.4em);
    }
}