<nav class="main-navigation">
    <div class="main-navigation__wrap">
        <ul *ngIf="auth" class="main-navigation__list">
            <li class="main-navigation__list-item">
                <a class="main-navigation__link" routerLink="/" routerLinkActive="active">Home</a>
            </li>
            <li class="main-navigation__list-item">
                <a class="main-navigation__link" routerLink="/create-league" routerLinkActive="active">Create League</a>
            </li>
        </ul>
        <app-league-navigation *ngIf="auth"></app-league-navigation>
        <button *ngIf="!auth" (click)="login()">Login with Google</button>
        <button *ngIf="auth" (click)="logout()">Logout</button>
    </div>
</nav>
