@import "../../variables";

.main-navigation {
    background: $color8;
    width: 100%;

    &__wrap {
        margin: auto;
        max-width: 1200px;
        padding: 16px;
        width: 100%;
    }

    &__list {
        display: inline-block;
        list-style: none;
        margin-right: 15px;
        padding-left: 0;
    }

    &__list-item {
        display: inline-block;
        list-style: none;
        vertical-align: middle;

        &:last-child {
            &:after {
                content: none;
            }
        }

        &:after {
            background: $color1;
            content: '';
            display: inline-block;
            height: 14px;
            margin: 0 5px;
            vertical-align: middle;
            width: 1px;
        }
    }

    &__link {
        color: $color7;
    }
}