// Variables
// Fonts
$font-primary: 'Roboto', sans-serif;

// Colors
$body-text-color: #333333;
$color1: #43b02b; //green
$color2: #7BAFD4; //UNC Blue
$color3: #bc204b; //red
$color4: #ffffff; //white
$color5: #f0f0f0; //light gray
$color6: #FA8320; //orange
$color7: #00338d; //dark blue
$color8: #f7f7f7; //dark gray